$default: #626262;
$default1: #9a9a9a;
$accent: #1876f2;
$bg: #fff;


%df{
  display: flex;
  align-items: center;
}
%br{
  border-radius: 4px;
}
%pr{
  position: relative;
}
%pa{
  position: absolute;
}
%br50{
  border-radius: 50%;
}
%w100{
  width: 100%;
}
%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
%poppins-500{
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: 500;
}
%poppins-400{
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400;
}